# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Node
node_modules/
.next/
.env.test.local
.env.local
.env

# Secrets
*.json
service-account-*.json
lunch-order-app-*.json

# Debug output
debug_output.txt
